{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
<title>Blog</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Music template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap-4.1.2/bootstrap.min.css'%}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_responsive.css'%}">

</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-center">

						<!-- Logo -->
						<div class="logo">
							<a href="#" class="d-flex flex-row align-items-end justify-content-start">
								<span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
								<span class="logo_text">music.kg</span>
							</a>
						</div>

						<!-- Main Navigation -->
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="{%url 'library'%}">Home</a></li>
								<li><a href="{%url 'artists'%}">Artists</a></li>
								<li class="active"><a href="{%url 'blog'%}">News</a></li>

							</ul>
						</nav>

						<!-- User area -->
						<div class="log_reg d-flex flex-row align-items-center justify-content-start">
							<ul class="d-flex flex-row align-items-start justify-content-start">
							</ul>

							<!-- Hamburger -->
							<div class="hamburger d-flex flex-column align-items-end justify-content-between"><div></div><div></div><div></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

		<footer class="footer">
			<div class="background_image" style="background-image:url(images/footer.jpg)"></div>
			<div class="footer_content">
				<div class="container">
					<div class="row">
						<div class="col text-center">


	<!-- Menu -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_posts">

						<!-- Blog Post -->
						<div class="blog_post">
							<div class="row">

								<!-- Blog Post Image -->
								<div class="col-lg-7">
									<div class="blog_post_image"><img src="{% static 'images/blog_1.png'%}" alt=""></div>
								</div>

								<!-- Blog Post Content -->


	<!-- Home -->

	<div class="col-lg-5 blog_col">
										<div class="blog_post_content">
											<div class="blog_post_date"><a href="#">June 13, 2019</a></div>
											<div class="blog_post_title"><a href="#">Start of my project</a></div>
											<div class="blog_post_info">
												<ul class="d-flex flex-row align-items-start justify-content-start">
													<li>By <a href="#">Admin</a></li>
													<li>
														<ul class="d-flex flex-row align-items-start justify-content-start">
															<li>music</li>

														</ul>
													</li>
												</ul>
											</div>
											<div class="blog_post_text">
												<p>Первый день "работы".</p>
											</div>
										</div>
									</div>

								</div>
							</div>

<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'styles/bootstrap-4.1.2/popper.js'%}"></script>
<script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js'%}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js'%}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js'%}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js'%}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js'%}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js'%}"></script>
<script src="{% static 'plugins/jPlayer/jquery.jplayer.min.js'%}"></script>
<script src="{% static 'plugins/jPlayer/jplayer.playlist.min.js'%}"></script>
<script src="{% static 'plugins/easing/easing.js'%}"></script>
<script src="{% static 'plugins/progressbar/progressbar.min.js'%}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js'%}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js'%}"></script>
<script src="{% static 'js/blog.js'%}"></script>
</body>
</html>
